.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
  border-right: 10px;
  background-color: lightblue;
  border-style: ridge;
  border-color: darkblue; 
}

